<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Reactive User Registration Form</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="userForm" >
                        <!-- ID Field -->
                        <!-- <div class="mb-3">
                            <label for="id" class="form-label">ID</label>
                            <input type="number" class="form-control" id="id" name="id"
                                disabled>
                        </div> -->

                        <!-- Name Field -->
                        <div class="mb-3">
                            <label for="name"  class="form-label">Name <span class="text-danger">*</span></label>
                            <div class="text-danger">
                                @if (userForm.controls['name'].touched || userForm.controls['name'].dirty) {
                                @if(userForm.controls['name'].errors?.['required']){
                                <span>This is required field</span>
                                } @else if(userForm.controls['name'].errors?.['minlength']){
                                <span>Min 5 characters needed</span>
                                }
                                }
                            </div>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                name="name" placeholder="Enter your full name" required minlength="5">
                        </div>

                        <!-- Username Field -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                            <input type="text" formControlName="username" class="form-control" id="username" 
                                name="username" placeholder="Enter your username" required>
                        </div>

                        <!-- Email Field -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                            <input type="email" formControlName="email" class="form-control" id="email" 
                                placeholder="Enter your email">
                        </div>

                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" formControlName="password" class="form-control" id="password" 
                                name="password" placeholder="Enter your password">
                        </div>

                        <!-- City Field -->
                        <!-- <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city"
                                placeholder="Enter your city">
                        </div> -->

                        <!-- State Field -->
                        <!-- <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state"
                                placeholder="Enter your state">
                        </div> -->

                        <!-- Submit Button -->
                        <div class="d-grid gap-2">
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary btn-lg">Submit</button>
                            <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>